.CardList {
  /* display: grid;
    align-content:center ;
    grid-template-columns: repeat(3,1fr); */
  gap: 25px;
  /* position: relative;
    transform: translate(20%,20%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  height: 100vh;
}
