.main-div{
  box-sizing: border-box;
  max-width: 1000px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  border:none;
  height : auto;
  width : auto;
  padding:0.7rem;
  background-color: #2c2c31;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition:ease-in-out 0.3s;
  
}

.btn:focus,.btn:focus-visible{
  outline: none;
}
.btn:hover{
  /* border-top: #fff 2px solid; */
  border-bottom: #fff 1px solid;
}

.text{
  color:#fff;
  font-size:1 rem;
}